{% extends 'base.html' %}

{% block head %}
<title>Puskesmas Muara Jawa</title>
{% endblock %}

{% block body %}

<div class="container-contact100">
	<div class="wrap-contact100">
		<form class="contact-form validate-form" action="/" method="POST">
			<span class="contact100-form-title">
				Puskesmas Muara Jawa
			</span>

			<div class="wrap-input100 validate-input">
				<span class="label-input100">Username :</span>
				<input class="input100" type="text" placeholder="Masukkan Username" name="username" id="username" required>
				<span class="focus-input100"></span>
			</div>

			<div class="wrap-input100 validate-input">
				<span class="label-input100">Password :</span>
				<input class="input100" type="password" placeholder="Masukkan Password" name="password" id="password" required>
				<span class="focus-input100"></span>
			</div>

			<div class="container-contact100-form-btn">
				<div class="wrap-contact100-form-btn">
					<div class="contact100-form-bgbtn"></div>
					<button class="contact100-form-btn">
						<span>
							Masuk
						</span>
					</button>
				</div>
			</div>
			
		</form>
		
	</div>
	
</div>

{% endblock %}